{% include _head.html %}
<main>
  <header>
    <h1>{{ title }}</h1>
    {% include _nav.html %}
  </header>
  <section>
    {{ content }}
    <ul class="project-list">
      {%- for post in collections.all -%}
        <li>
          <a class="project-list__item" href="{{ post.url }}">
            <img src="{{ post.url }}/{{ .post.data.featuredImage }}" class="project-list__item-image" />
            <div class="project-list__item-title">
              <time class="project-list__item-date" datetime="{{ .post.data.year }}">{{ .post.data.year }}</time><br>
              <h3 class="project-list__item-heading">{{ .post.data.title }}</h3>
            </div>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </section>
</main>
{% include _footer.html %}