.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    overflow-wrap: break-word;
    min-width: 320px;
    max-width: 500px;
    flex: 1 1 500px;

    &-image {
      display: block;
      max-width: 100%;
    }
  }
}